body{
    background-image: url(images/snowflakes.jpg);
}
.active {
    background-color: #97BFB4 !important;
    
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link:hover{
    background-color: #DD4A48 !important;
    color: black !important;
}

.nav-item{
    color:black !important;
}
.navbar-text{
    color: black !important;
}

.santa-glasses {margin-top: 5em}

#countdown-container {
    border-radius: 100px;
    margin-top: 5em;
    color:red;
    background-color:lightgrey !important;
}

#card-game-container {
    margin-top: 5em;
}
#card-game-container .col-md-auto{
    background-color: lightgray !important;
}